# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vscode
.DS_Store

# executables
bitonic/main
complex_numbers/main
factorial/main
fizzbuzz/main
horseplay/main
palindrome/main
sort/main
ip_address/main
faulty/main
age_in_days/main
game_of_life/main
reflex/main